.footer{
    text-align: center;
    background-color: black;
    padding: 80px 0;
    color: white;
}
.logo img{
padding: 50px 0;
}
.nav{
background-color: purple;
color:white;
}
.nav-item a:hover{
    text-decoration: underline;
}
.content{
    margin-top: 50px;
    margin-bottom: 50px;
}

